---
layout: page
permalink: "blog.html"
title: Blog
page-link: Blog
page-title: Blog
page-slogan: We have different modules (extensions that work perfectly with the templates)
page-details: no-details
page-img: "assets/images/banner/banner4.png"
page-img-class: blog
---

<div class="blog-body">
    <div class="container">

        <!-- BLOG SLIDE START -->
        <div class="blog-body__slide ">

            {% for item in site.data.blog-slide %}
            <!-- ITEM START -->
            <div class="blog-body__slide__item slide-item">
                <div class="row">

                    <!-- IMAGE START -->
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="slide-item__img">
                            <img src="assets/images/slide/image2.png">
                        </div>
                    </div>
                    <!-- IMAGE END -->

                    <!-- CONTENT START -->
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="slide-item__content item-content ">

                            <!-- INFO START -->
                            <div class="item-content__info">
                                <span>
                                    22/12/2021
                                </span>
                                <span class="item-content__info-template">
                                    Feature
                                </span>
                            </div>
                            <!-- INFO END -->

                            <!-- TITLE START -->
                            <div class="item-content__title">
                                <div class="title">
                                    <h6>
                                        This week in TechCrunch Experts: E-commerce trends, growth marketing predictions
                                    </h6>
                                </div>
                            </div>
                            <!-- TITLE END -->

                            <!-- DESC START -->
                            <div class="item-content__desc">
                                <p>
                                    Intuitive. Focused. Human. We’re more than just lawyers. Building trust for over 120
                                    years – we’re business partners,
                                    working with not just for you.
                                </p>
                            </div>
                            <!-- DESC END -->

                            <!-- BUTTON START -->
                            <div class="item-content__button">
                                <a href="blog-details.html" class="btn btn-sm btn-warning">
                                    Read post
                                </a>
                            </div>
                            <!-- BUTTON END -->

                        </div>
                    </div>
                    <!-- CONTENT END -->

                </div>
            </div>
            <!-- ITEM START -->
            {% endfor %}

        </div>
        <!-- BLOG SLIDE END -->

        <!-- BLOG CONTENT START -->
        <div class="blog-body__content">
            <div class="container">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for item in site.data.blog-nav %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {{item.status}} " id="{{item.id}}-tab" data-bs-toggle="tab"
                            data-bs-target="#{{item.id}}" type="button" role="tab" aria-controls="{{item.id}}"
                            aria-selected="true">{{item.text}}</button>
                    </li>
                    {% endfor %}
                </ul>

                <div class="tab-content" id="myTabContent">

                    {% for item in site.data.blog-nav %}
                    <div class="tab-pane fade  {% if item.status == 'active' %} show active {% endif %} "
                        id="{{item.id}}" role="tabpanel" aria-labelledby="{{item.id}}-tab">
                        <div class="row">
                            {% for item in site.data.blog-item %}
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                                <!-- ITEM START -->
                                <div class="tab-content__item item">
                                    <div class="item__inner">

                                        <!-- IMG START -->
                                        <div class="item__inner__img">
                                            <img src="{{item.img_path}}">
                                        </div>
                                        <!-- IMG END -->

                                        <!-- CONTENT START -->
                                        <div class="item__inner__container">
                                            <!-- INFO START -->
                                            <div class="item__container__info">
                                                <span>
                                                    21/12/2021
                                                </span>
                                                <span class="badge badge-light">
                                                    Trend
                                                </span>
                                            </div>
                                            <!-- INFO END -->

                                            <!-- NAME START -->
                                            <div class="item__container__name">
                                                <a href="blog-details.html">
                                                    {{item.text}}
                                                </a>
                                            </div>
                                            <!-- NAME END -->

                                        </div>
                                        <!-- CONTENT END -->


                                    </div>
                                </div>
                                <!-- ITEM END -->

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <!-- BLOG CONTENT END -->

    </div>
</div>