---
layout: default
permalink: "blog-details.html"
title: Blog Details
page-link: Feature
page-title: 'This week in TechCrunch Experts: E-commerce trends, growth marketing predictions'
---

<div class="blog-details-body">

    <div class="blog-details-body__breakcrum breakcum">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="breakcrum__inner">
                        <!-- TEXT START -->
                        <div class="breakcrum__text">

                            <!-- LINK START -->
                            <div class="breakcrum__text__link">
                                <a href="index.html">
                                    Quickweb
                                </a>
                                <i class="fad fa-chevron-circle-right"></i>
                                <a class="breakcrum__text__link--modifier">
                                    {{page.page-link}}
                                </a>
                            </div>
                            <!-- LINK END -->

                            <!-- TITLE START -->
                            <div class="breakcrum__text__title">
                                <h2>
                                    {{page.page-title}}
                                </h2>
                            </div>
                            <!-- TITLE END -->

                            <!-- DATE START -->
                            <div class="breakcrum__text__date">
                                <span>
                                    21-12-2021
                                </span>
                            </div>
                            <!-- DATE END -->
                        </div>

                        <!-- TEXT END -->

                        <!-- IMG START -->
                        <div class="breakcrum__img">
                            <img src="assets/images/icon/cursor.png" alt="cursor">
                        </div>
                        <!-- IMG END -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="blog-details-body__content content">
        <div class="container">

            <div class="row">
                <!-- BLOG CONTENT START -->
                <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="content__body">
                        {% for item in site.data.blog-details-paragraph limit: 3 %}
                        <!-- PARAGRAPH START -->
                        <div class="content__body__paragraph">
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <!-- PARAGRAPH END -->
                        {% endfor %}

                        <!-- IMG START -->
                        <div class="content__body__img img">

                            <img src="assets/images/blog/blog7.png" alt="blog-img">

                            <div class="img__caption">
                                <p>
                                    image caption: web layout by Quickweb.vn
                                </p>
                            </div>
                        </div>
                        <!-- IMG END -->

                        {% for item in site.data.blog-details-paragraph offset: 3 %}
                        <!-- PARAGRAPH START -->
                        <div class="content__body__paragraph">
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <!-- PARAGRAPH END -->
                        {% endfor %}

                    </div>
                </div>
                <!-- BLOG CONTENT END -->

                <!-- BLOG SIDEBAR START -->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="content__sidebar">
                        <!-- TITLE START -->
                        <div class="content__sidebar__title">
                            <h2>
                                This week’s posts
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- POST START -->
                        <div class="content__sidebar__post sidebar-post">
                            <ul>
                                {% for item in site.data.blog-post %}
                                <li>
                                    <div class="sidebar-post__item">
                                        <!-- IMG START -->
                                        <div class="sidebar-post__item__img">
                                            <img src="{{item.img_path}}">
                                        </div>
                                        <!-- IMG END -->

                                        <!-- POST START -->
                                        <div class="sidebar-post__item__content post">

                                            <!-- INFO START -->
                                            <div class="post__info">
                                                <span>
                                                    21/12/2021
                                                </span>
                                                <span class="badge badge-light">
                                                    Trend
                                                </span>
                                            </div>
                                            <!-- INFO END -->

                                            <!-- NAME START -->
                                            <div class="post__name">

                                                <a href="blog-details.html">
                                                    9 innovative web design trends for 2022
                                                </a>

                                            </div>
                                            <!-- NAME END -->

                                        </div>
                                        <!-- POST END -->
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- POST END -->

                        <!-- INTRO START -->
                        <div class="content__sidebar__intro sidebar-intro">

                            <!-- LIGHT START -->
                            <div class="sidebar-intro__light">
                                <img src="assets/images/icon/light.png">
                            </div>
                            <!-- LIGHT END -->

                            <div class="sidebar-intro__inner">

                                <!-- TITLE START -->
                                <div class="sidebar-intro__inner__title">
                                    <h2>
                                        Build your website with Quickweb
                                    </h2>
                                </div>
                                <!-- TITLE END -->

                                <!-- DESC START -->
                                <div class="sidebar-intro__inner__desc">
                                    <h3>
                                        It’s easy, quick, and effective!
                                    </h3>
                                </div>
                                <!-- DESC END -->

                                <!-- BUTTON START -->
                                <div class="sidebar-intro__inner__button">
                                    <a href="#" class="btn btn-sm btn-warning btn-warning-black">
                                        Try demo
                                    </a>
                                    <a href="#">
                                        Learn more
                                    </a>
                                </div>
                                <!-- BUTTON END -->

                            </div>
                        </div>
                        <!-- INTRO END -->
                    </div>
                </div>
                <!-- BLOG SIDEBAR END -->
            </div>
        </div>
    </div>

</div>