---
layout: page
permalink: "feature.html"
title: Tính năng
page-link: Features
page-title: All Features
page-slogan: Unbeatable features that Quickweb possesses.
page-details: no-details
page-img: "assets/images/banner/banner.png"

---
<!-- FEATURE PAGE START -->
<div class="feature">
    <div class="container">

        <!-- FEATURE MODULE START -->
        <div class="feature__module">
            <div class="row">

                <!-- MODULE ITEM START -->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="feature__module-desc">

                        <!-- TITLE START -->
                        <div class="title">
                            <div class="desc desc--custom">
                                <p>
                                    Simple, clean, user friendly
                                </p>
                            </div>
                            <h3>
                                CMS system
                            </h3>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="feature__module-desc__content">

                            <!-- PARAGRAPH START -->
                            <div class="desc__content-paragraph">
                                <p>
                                    Allow to manage all neccessary parts of your website, familiar but customized to
                                    only what you need.
                                </p>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- LIST ITEM START -->
                            <div class="desc__content-list">
                                <ul>
                                    {% for item in site.data.feature-module limit: 6 %}
                                    <li>
                                        <a href="#">
                                            {{item.text}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- LIST ITEM END -->

                            <!-- BUTTON START -->
                            <div class="desc__content-button">
                                <a class="btn btn-sm btn-warning">
                                    Try building free
                                </a>
                            </div>
                            <!-- BUTTON END -->
                        </div>
                        <!-- CONTENT END -->
                    </div>
                </div>
                <!-- MODULE ITEM END -->

                <!-- MODULE IMG START -->
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    <div class="feature__module-img">
                        <img src="assets/images/feature/img1.png">
                    </div>
                </div>
                <!-- MODULE IMG END -->
            </div>
        </div>
        <!-- FEATURE MODULE END -->

        <!-- FEATURE MODULE START -->
        <div class="feature__module">
            <div class="row">

                <!-- MODULE IMG START -->
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    <div class="feature__module-img">
                        <img src="assets/images/feature/img2.png">
                    </div>
                </div>
                <!-- MODULE IMG END -->

                <!-- MODULE ITEM START -->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="feature__module-desc">

                        <!-- TITLE START -->
                        <div class="title">
                            <div class="desc desc--custom">
                                <p>
                                    Simple, clean, user friendly
                                </p>
                            </div>
                            <h3>
                                CMS system
                            </h3>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="feature__module-desc__content">

                            <!-- PARAGRAPH START -->
                            <div class="desc__content-paragraph">
                                <p>
                                    Allow to manage all neccessary parts of your website, familiar but customized to
                                    only what you need.
                                </p>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- LIST ITEM START -->
                            <div class="desc__content-list">
                                <ul>
                                    {% for item in site.data.feature-module offset: 6%}
                                    <li>
                                        <a href="#">
                                            {{item.text}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- LIST ITEM END -->

                            <!-- BUTTON START -->
                            <div class="desc__content-button">
                                <a class="btn btn-sm btn-warning">
                                    Try building free
                                </a>
                            </div>
                            <!-- BUTTON END -->
                        </div>
                        <!-- CONTENT END -->
                    </div>
                </div>
                <!-- MODULE ITEM END -->

            </div>
        </div>
        <!-- FEATURE MODULE END -->

        <div class="main-body">
            <!-- BEST FEATURES START -->
            <div class="main-body__features">
                <!-- TITLE START -->
                <div class="title">
                    <div class="desc">
                        <span>
                            Why choosing Quickweb?
                        </span>
                    </div>
                    <h1>
                        Best Features
                    </h1>
                </div>
                <!-- TITLE END -->

                <!-- CONTENT START -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="main-body__features-wraps ">
                            <div class="row">
                                {% for item in site.data.main-body-features %}
                                <!-- ITEM START -->
                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="features-item">
                                        <div class="features-item__inner">

                                            <!-- ICON START -->
                                            <div class="icon">
                                                <img src="{{item.img_path}}" alt="features_icon">
                                            </div>
                                            <!-- ICON END -->

                                            <!-- TEXT START -->
                                            <div class="text">
                                                <span>
                                                    {{item.text}}
                                                </span>
                                            </div>
                                            <!-- TEXT END -->
                                        </div>
                                    </div>
                                </div>
                                <!-- ITEM END -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENT END -->
            </div>
            <!-- BEST FEATURES END -->
        </div>

    </div>
</div>
<!-- FEATURE PAGE END -->