---
layout: default
permalink: "index.html"
title: Trang chủ
---

<div class="main-body">
    <!-- MAIN BODY SLIDE START -->
    <div class="main-body__slide">
        <!-- SLIDE START -->
        <div class="main-body__slide__wraps body-slide">
            {% for item in site.data.main-body-slide %}
            <div class="body-slide__container">
                <!-- SLIDE ITEM START -->
                <div class="body-slide__wraps">
                  
                    <!-- SLIDE TEXT START -->
                    <div class="body-slide__wraps__text slide-text">
    
                        <!-- TITLE START -->
                        <div class="slide-text__title">
                            <h1>
                                FGC-Quickweb is a ready-to-go, 
                                easy-to-use, effective tool 
                                for any business to create a website
                            </h1>
                        </div>
                        <!-- TITLE END -->
    
                        <!-- DESC START -->
                        <div class="slide-text__description">
                            <h2>
                                Choose a template and start creating 
                                your website now. <span>It’s free.</span>
                            </h2>
                        </div>
                        <!-- DESC END -->
    
                        <!-- BUTTON START -->
                        <div class="slide-text__button">
                             <a class="btn btn-sm btn-warning bnt-warning--black">
                                Try Demo
                             </a>
                             <a href="#" class="slide-text__button__label">
                                Learn More  
                             </a>
                        </div>
    
                        <!-- BUTTON END -->
                    </div>
                    <!-- SLIDE TEXT END -->
    
                    <!-- SLIDE IMAGE START -->
                    <div class="body-slide__wraps__img slide-img">
                         <div class="slide-img__wraps">
                            <img src="assets/images/slide/image1.png" alt="slide-img">
                         </div>
                    </div>
                    <!-- SLIDE IMAGE END -->
                </div>
                <!-- SLIDE ITEM END -->
            </div>
            {% endfor %}
        </div>
        <!-- SLIDE END -->

        <!-- BUTTON DROPDOWN START -->
        <div class="body-slide__dropdown slide-dropdown">
            <div class="slide-dropdown__inner">
                <img src="assets\images\icon\slide-arow.png">
            </div>
        </div>
        <!-- BUTTON DROPDOWN END -->
    </div>
    <!-- MAIN BODY SLIDE END -->

    <!-- BEST FEATURES START -->
    <div class="main-body__features">
        <!-- TITLE START -->
        <div class="title">
            <div class="desc">
                <span>
                    Why choosing Quickweb?
                </span>
            </div>
            <h1>
                Best Features
            </h1>
        </div>
        <!-- TITLE END -->

        <!-- CONTENT START -->
        <div class="content">
            <div class="container-fluid">
                <div class="main-body__features-wraps p-91">
                    <div class="row">
                        {% for item in site.data.main-body-features %}
                        <!-- ITEM START -->
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="features-item">
                                <div class="features-item__inner">

                                    <!-- ICON START -->
                                    <div class="icon">
                                        <img src="{{item.img_path}}" alt="features_icon">
                                    </div>
                                    <!-- ICON END -->

                                    <!-- TEXT START -->
                                    <div class="text">
                                        <span>
                                            {{item.text}}
                                        </span>
                                    </div>
                                    <!-- TEXT END -->
                                </div>
                            </div>
                        </div>
                        <!-- ITEM END -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT END -->
    </div>
    <!-- BEST FEATURES END -->

    <!-- BANNER START -->
    <div class="main-body__banner">
        <div class="container">
            <div class="row">
                {% for item in site.data.main-body-banner %}
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="banner-item">
                        <!-- NUMBER START -->
                        <div class="banner-item__title">
                            <span>
                                {{item.num}}<i class="far fa-plus"></i>
                            </span>
                        </div>
                        <!-- NUMBER END -->

                        <!-- DESCRIPTION START -->
                        <div class="banner-item__desc">
                            <span>
                                {{item.text}}
                            </span>
                        </div>
                        <!-- DESCRIPTION END -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- BANNER END -->

    <!-- TEMPLATE START -->
    <div class="main-body__template">
        <!-- TITLE START -->
        <div class="title">
            <div class="desc">
                <span>
                    What we have?
                </span>
            </div>
            <h1>
                50+ beautiful templates ready-to-go
            </h1>
        </div>
        <!-- TITLE END -->

        <!-- CONTENT START -->
        <div class="content">

            <!-- NAV BUTTON START -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- BUTTON LIST START -->
                    {% for item in site.data.main-body-templates %}
                    <button class="nav-link {{item.status}}" id="nav-{{item.id}}-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-{{item.id}}" type="button" role="tab" aria-controls="nav-{{item.id}}"
                        aria-selected="{% if item.status == 'active' %} true {% endif %}">{{item.text}}</button>
                    {% endfor %}
                    <a  class="btn btn-sm btn-warning btn-warning--black">
                        More
                    </a>
                    <!-- BUTTON LIST END -->
                </div>
                <div class="nav__more">
                    <a href="templates.html" class="btn btn-sm btn-warning"> 
                        More
                    </a>
                </div>
            </nav>
            <!-- NAV BUTTON END -->

            <!-- TABS START -->
            <div class="container">
                <div class="tab-content" id="nav-tabContent">

                    {% for item in site.data.main-body-templates %}

                    <div class="tab-pane fade {% if item.status == 'active' %} show active {% endif %}"
                        id="nav-{{item.id}}" role="tabpanel">
                        <div class="row">
                            {% for item in site.data.main-body-templates-item%}
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                                <div class="template-item">
                                    <div class="template-item__inner">
                                        <!-- IMAGE START -->
                                        <div class="template-item__inner__img">
                                            <img src="{{item.img_path}}" alt="template-item">
                                        </div>
                                        <!-- IMAGE END -->

                                        <!-- INFO START -->
                                        <div class="template-item__inner__info">
                                            <div class="info__inner">
                                                <div class="name">
                                                    <span>
                                                        {{item.name}}
                                                    </span>
                                                </div>

                                                <div class="price">
                                                    {% if item.price != 0 %}
                                                    <i class="far fa-dollar-sign"></i><span>{{item.price}}</span>
                                                    {% else %}
                                                    <span>FREE</span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="info_button">
                                                <a href="#" class="btn btn-sm btn-warning">
                                                    Preview theme
                                                </a>

                                                <a href="#" class="btn btn-sm btn-light">
                                                    Theme details
                                                </a>
                                            </div>
                                        </div>
                                        <!-- INFO END -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <!-- TABS END -->

            <div class="template-button">
                <a href="templates.html" class="btn btn-sm btn-warning">
                    All templates
                </a>
            </div>

        </div>
        <!-- CONTENT END -->
    </div>
    <!-- TEMPLATE END -->

    <!-- CUSTOMER START -->
    <div class="main-body__customer">
        <!-- TITLE START -->
        <div class="title">
            <div class="desc">
                <span>
                    Testimonials
                </span>
            </div>
            <h1>
                Customers who use Quickweb
            </h1>
        </div>
        <!-- TITLE END -->

        <!-- LIST CUSTOMER START -->
        <div class="container">
            <div class="row">
                <div class="main-body__customer__inner">
                    {% for item in site.data.main-body-customer %}

                    <div class="main-body__customer__item">
                        <img src="{{item.img_path}}" alt="logo">
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- LIST CUSTOMER END -->


    </div>
    <!-- CUSTOMER END -->

    <!-- QUOTE START -->
    <div class="main-body__quote">
        <div class="container">
                <div class="main-body__quote-wraps">
                    {% for item in site.data.main-body-quote %}
                    <div class="main-body__quote-item">
                        <div class="main-body__quote__inner">

                            <div class="quote__inner__content">
                                <span>
                                    {{item.content}}
                                </span>
                            </div>

                            <div class="quote__inner__footer">

                                <div class="quote__footer__auth">

                                    <div class="quote__footer__auth-name">
                                        <div class="name">
                                            <span>
                                                {{item.auth}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="quote__footer__auth-country">
                                        <span class="separate">
                                            {{item.country}}
                                        </span>
                                        <span>
                                            {{item.theme}}
                                        </span>
                                    </div>
                                </div>

                                <div class="quote__footer__infor">
                                    <img src="assets/images/icon/quote.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <!-- QUOTE END -->

    <!-- SUPPORT CHANEL START -->
    <div class="main-body__support">
        <!-- TITLE START -->
        <div class="title">
            <div class="desc">
                <span>
                    Don't worry
                </span>
            </div>
            <h1>
                Support channels
            </h1>
        </div>
        <!-- TITLE END -->

        <div class="container">
            <div class="row">
                {% for item in site.data.main-body-support %}
                <!-- ITEM START -->
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="support__item">
                        <div class="support__item-inner">

                            <!-- IMG START -->
                            <div class="support__item-inner__img">
                                <img src="{{item.img_path}}">
                            </div>
                            <!-- IMG END -->

                            <!-- CONTENT START -->
                            <div class="support__item-inner__content">
                                <span>
                                    {{item.content}}
                                </span>
                            </div>
                            <!-- CONTENT END -->

                            <!-- BUTTON START -->
                            <div class="support__item-inner__button">
                                <a href="#" class="btn btn-sm btn-warning">
                                    {{item.button}}
                                </a>
                            </div>
                            <!-- BUTTON END -->
                        </div>
                    </div>
                </div>
                <!-- ITEM END -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- SUPPORT CHANEL END -->

    <!-- CONTRIBUTORS START -->
    <div class="main-body__contributors">

        <!-- CONTENT START -->
        <div class="container">

            <!-- TITLE START -->
            <div class="title title--left">
                <div class="desc">
                    <span>
                        The team
                    </span>
                </div>
                <h1>
                    Contributors
                </h1>
            </div>
            <!-- TITLE END -->


            <div class="row">
                {% for item in site.data.main-body-contributor %}
                <!-- ITEM START -->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="contributor-item">
                        <div class="contributor-item__inner">

                            <!-- IMG START -->
                            <div class="contributor-item__inner__img">
                                <img src="{{item.img_path}}">
                            </div>
                            <!-- IMG END -->

                            <!-- CONTENT START -->
                            <div class="contributor-item__inner__content">

                                <div class="name">
                                    <span>
                                        {{item.name}}
                                    </span>
                                </div>

                                <div class="job">
                                    <span>
                                        {{item.job}}
                                    </span>
                                </div>

                            </div>
                            <!-- CONTENT END -->

                        </div>
                    </div>
                </div>
                <!-- ITEM END -->
                {% endfor %}
            </div>


        </div>
        <!-- CONTENT END -->
    </div>
    <!-- CONTRIBUTORS END -->

    <!-- TECHNOLOGY START -->
    <div class="main-body__technology">
        <!-- TITLE START -->
        <div class="title">
            <div class="desc">
                <span>
                    The team
                </span>
            </div>
            <h1>
                Contributors
            </h1>
        </div>
        <!-- TITLE END -->

        <!-- LIST TECHNOLOGY START -->
        <div class="container">
            <div class="row">
                {% for item in site.data.main-body-tech %}
                <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="technology-item">
                        <div class="technology-item__img">
                            <img src="{{item.img_path}}" alt="logo">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- LIST TECHNOLOGY END -->

    </div>
    <!-- TECHNOLOGY END -->

</div>