---
layout: page
permalink: "module-details.html"
title: Module Details
page-link: Module
page-details: Real estate essential
page-title: Real estate essential
page-slogan: Support real estate theme
page-button: no-button
page-desc: details
page-details-class: module
---

<div class="template-details-body module-details ">
    <div class="container">

        <!-- NAV START -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            {% for item in site.data.template-details-nav offset: 4 %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {{item.status}}" id="{{item.id}}-tab" data-bs-toggle="tab"
                    data-bs-target="#{{item.id}}" type="button" role="tab" aria-controls="{{item.id}}"
                    aria-selected="true">{{item.text}}</button>
            </li>
            {% endfor %}
        </ul>
        <!-- NAV END -->


        <div class="row">
            <!-- CONTENT START -->
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div class="tab-content" id="myTabContent">

                    {% for item in site.data.template-details-nav offset: 4 %}
                    <div class="tab-pane fade {% if item.status == 'active' %} show active {% endif %} "
                        id="{{item.id}}" role="tabpanel" aria-labelledby="{{item.id}}-tab">

                        <div class="module-details__wraps details__wraps">

                            <!-- IMG START -->
                            <div class="details__wraps__img">
                                <img src="assets/images/module/details.png" alt="template-img">
                            </div>
                            <!-- IMG END -->

                            <!-- PARAGRAPH START -->
                            <div class="details__wraps__paragraph paragraph">
                                <div class="paragraph__title">
                                    <h2>
                                        General information
                                    </h2>
                                </div>
                                <div class="paragraph__content">
                                    <p>
                                        There are full features needed for a real estate website, easy to customize and
                                        overwrite templates. Allow to manage
                                        property listings and submit property via back-end and front-end. Supported
                                        global payment, build market, agent
                                        management,…etc.
                                        FREE plugins but already all PREMIUM FEATURES.
                                    </p>
                                </div>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- PARAGRAPH START -->
                            <div class="details__wraps__paragraph paragraph">
                                <div class="paragraph__title">
                                    <h2>
                                        All Features
                                    </h2>
                                </div>
                                <div class="paragraph__content">
                                    {% for item in site.data.module-details-paragraph limit: 10 %}
                                    <p>
                                        {{item.text}}
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- PARAGRAPH START -->
                            <div class="details__wraps__paragraph paragraph">
                                <div class="paragraph__title">
                                    <h2>
                                        Theme compability
                                    </h2>
                                </div>
                                <div class="paragraph__content">
                                    {% for item in site.data.module-details-paragraph offset: 10 %}
                                    <p>
                                        {{item.text}}
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- INVOLVE MODULE START -->
                            <div class="details__wraps__involve involve">
                                <div class="main-body">
                                    <div class="main-body__template">
                                        <div class="content">
                                            <div class="invonve__slide">
                                                {% for item in site.data.main-body-templates-item %}
                                                <div class="involve__slide__item">
                                                    <div class="template-item">
                                                        <div class="template-item__inner">
                                                            <!-- IMAGE START -->
                                                            <div class="template-item__inner__img">
                                                                <img src="{{item.img_path}}" alt="template-item">
                                                            </div>
                                                            <!-- IMAGE END -->

                                                            <!-- INFO START -->
                                                            <div class="template-item__inner__info">
                                                                <div class="info__inner">
                                                                    <div class="name">
                                                                        <span>
                                                                            {{item.name}}
                                                                        </span>
                                                                    </div>

                                                                    <div class="price">
                                                                        <span
                                                                            class="link link-sm link-warning link-light">
                                                                            business
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <div class="info_button">
                                                                    <a href="#" class="btn btn-sm btn-warning">
                                                                        Preview theme
                                                                    </a>

                                                                    <a href="#" class="btn btn-sm btn-light">
                                                                        Theme details
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- INFO END -->
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- INVOLVE MODULE END -->

                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- CONTENT END -->

            <!-- SIDEBAR START -->
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class=" details__sidebar">
                    <div class="details__sidebar__inner sidebar-inner">
                        <!-- TITLE START -->
                        <div class="sidebar-inner__title">
                            <h2>
                                Template overview
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- LIST START -->
                        <div class="sidebar-inner__list">
                            <ul>
                                {% for item in site.data.feature-sidebar %}
                                <li>
                                    <i class="fad fa-check-circle"></i>
                                    <span>
                                        {{item.text}}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- LIST END -->

                        <!-- TABLE START -->
                        <div class="sidebar-inner__table table">
                            <table>
                                <tr>
                                    <td class="table__title">
                                        Version
                                    </td>
                                    <td class="table__content">
                                        1.2.2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__title">
                                        Last update
                                    </td>
                                    <td class="table__content">
                                        20/11/2021
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- TABLE END -->

                        <!-- PRICE START -->
                        <div class="sidebar-inner__price price">

                            <!-- TITLE START -->
                            <div class="price__title">
                                <span>
                                    Price
                                </span>
                                <span class="price__number">
                                    <i class="far fa-dollar-sign"></i>25
                                </span>
                            </div>
                            <!-- TITLE END -->

                            <!-- BUTTON STAT -->
                            <div class="price__btn">
                                <button class="btn btn-sm btn-warning">
                                    Download now
                                </button>
                            </div>
                            <!-- BUTTON END -->

                        </div>
                        <!-- PRICE END -->

                    </div>
                </div>
            </div>
            <!-- SIDEBAR END -->

        </div>

    </div>
</div>