---
layout: page
permalink: "modules.html"
title: Modules
page-link: Modules
page-title: Modules
page-img: "assets/images/banner/banner3.png"
page-slogan: We have different modules (extensions that work perfectly with the templates)
page-img-class: module
page-details: no-details
---

<div class="module-body">
    <div class="container">

        <!-- NAV MODULE START -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for item in site.data.module-nav %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {{item.status}}" id="{{item.id}}-tab" data-bs-toggle="tab"
                    data-bs-target="#{{item.id}}" type="button" role="tab" aria-controls="{{item.id}}"
                    aria-selected="{% if item.status == 'active' %} true {% endif %}">{{item.text}}</button>
            </li>
            {% endfor %}

        </ul>
        <!-- NAV MODULE END -->


        <div class="tab-content" id="myTabContent">
            {% for item in site.data.module-nav %}
            <div class="tab-pane fade {% if item.status == 'active' %} show active {% endif %} " id="{{item.id}}"
                role="tabpanel" aria-labelledby="{{item.id}}-tab">
                <div class="row">
                    {% for item in site.data.module-item %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="module-body__item">
                            <div class="module-body__item-inner">

                                <!-- TEXT START -->
                                <div class="item-inner__text">
                                    <a href="module-details.html">
                                        {{item.text}}
                                    </a>
                                    <span>
                                        {{item.desc}}
                                    </span>
                                </div>
                                <!-- TEXT END -->

                                <!-- ICON START -->
                                <div class="item-inner__icon ">
                                    <img src="assets/images/icon/extension.png" alt="icon">
                                </div>
                                <!-- ICON END -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>