---
layout: page
permalink: "pricing.html"
title: Pricing
page-link: Pricing
page-title: Pricing
page-slogan: We have different modules (extensions that work perfectly with the templates)
page-button: no-button
page-details: no-details

---

<div class="pricing-body">
   <div class="pricing-body__inner">
       <div class="pricing-body__content">
           <div class="container">
               <div class="row">
   
                   <!-- PRICING ITEM START -->
                   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                       <div class="pricing-body__content__item pricing-body__content__item--white  item">
                           <div>
                               <!-- TITLE START -->
                               <div class="item__title title">
                                   <div class="title">
                                       <h5>
                                           Free support
                                       </h5>
                                   </div>
                               </div>
                               <!-- TITLE END -->
   
                               <!-- PRICE START -->
                               <div class="item__price item__price--primary">
                                   <i class="fas fa-dollar-sign"></i><span>0</span>
                               </div>
                               <!-- PRICE END -->
   
                               <!-- ITEM SERVICES START -->
                               <div class="item__services">
                                   <ul>
                                       {% for item in site.data.pricing-item limit: 2 %}
                                       <li class="item__services__text item__services__text--primary ">
                                           <i class="fad fa-check-circle"></i>
                                           <span>
                                               {{item.text}}
                                           </span>
                                       </li>
                                       {% endfor %}
                                   </ul>
                               </div>
                               <!-- ITEM SERVICES END -->
                           </div>
   
                           <!-- ITEM SERVICES BUTTON START -->
                           <div class="item__button">
                               <a class="btn btn-sm btn-warning btn-warning--primary">
                                   Buy Now
                               </a>
                           </div>
                           <!-- ITEM SERVICES BUTTON END -->
   
                       </div>
                       </div>
                   <!-- PRICING ITEM END -->
   
                   <!-- PRICING ITEM START -->
                   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                       <div class="pricing-body__content__item pricing-body__content__item--primary  item">
                           <div>
                               <!-- TITLE START -->
                               <div class="item__title title">
                                   <div class="title">
                                       <h5>
                                           Standard support
                                       </h5>
                                   </div>
                               </div>
                               <!-- TITLE END -->
   
                               <!-- PRICE START -->
                               <div class="item__price item__price--white">
                                   <i class="fas fa-dollar-sign"></i><span>4/ mo.</span>
                               </div>
                               <!-- PRICE END -->
   
                               <!-- ITEM SERVICES START -->
                               <div class="item__services">
                                   <ul>
                                       {% for item in site.data.pricing-item limit: 3 offset: 2 %}
                                       <li class="item__services__text item__services__text--white ">
                                           <i class="fad fa-check-circle"></i>
                                           <span>
                                               {{item.text}}
                                           </span>
                                       </li>
                                       {% endfor %}
                                   </ul>
                               </div>
                               <!-- ITEM SERVICES END -->
                           </div>
   
                           <!-- ITEM SERVICES BUTTON START -->
                           <div class="item__button">
                               <a class="btn btn-sm btn-warning btn-warning--primary">
                                   Buy Now
                               </a>
                           </div>
                           <!-- ITEM SERVICES BUTTON END -->
   
                       </div>
                   </div>
                   <!-- PRICING ITEM END -->
   
                   <!-- PRICING ITEM START -->
                   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                       <div class="pricing-body__content__item pricing-body__content__item--primary  item">
                           <div>
                               <!-- TITLE START -->
                               <div class="item__title title">
                                   <div class="title">
                                       <h5>
                                           Premium support
                                       </h5>
                                   </div>
                                   <img src="assets/images/icon/premium.png" alt="premiun">
                               </div>
                               <!-- TITLE END -->
   
                               <!-- PRICE START -->
                               <div class="item__price item__price--white">
                                   <i class="fas fa-dollar-sign"></i><span>11/ mo.</span>
                               </div>
                               <!-- PRICE END -->
   
                               <!-- ITEM SERVICES START -->
                               <div class="item__services">
                                   <ul>
                                       {% for item in site.data.pricing-item offset: 5 %}
                                       <li class="item__services__text item__services__text--white ">
                                           <i class="fad fa-check-circle"></i>
                                           <span>
                                               {{item.text}}
                                           </span>
                                       </li>
                                       {% endfor %}
                                   </ul>
                               </div>
                               <!-- ITEM SERVICES END -->
                           </div>
   
                           <!-- ITEM SERVICES BUTTON START -->
                           <div class="item__button">
                               <a class="btn btn-sm btn-warning btn-warning--primary">
                                   Buy Now
                               </a>
                           </div>
                           <!-- ITEM SERVICES BUTTON END -->
   
                       </div>
                   </div>
                   <!-- PRICING ITEM END -->
   
               </div>
           </div>
       </div>
   </div>
</div>