---
layout: page
permalink: "templates.html"
title: Template
page-link: Template
page-details: no-details
page-title: 50+ beautiful templates ready-to-go
page-slogan: <label>It’s free.</label> Choose a template and start creating your website now.
page-img: "assets/images/banner/banner1.png"
---

<div class="template-body">
    <div class="container">
        <div class="row template-body__row">

            <!-- TEMPLATE SIDEBAR START -->
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                <div class="template-body__sidebar">
                    <!-- FORM START -->
                    <form action="#" method="post">
                        <!-- CHECKLIST START -->
                        <div class="sidebar-check-list">

                            <!-- CHECKLIST TEXT START -->
                            <div class="sidebar-check-list__text">
                                <div class="title">
                                    <h4>
                                        Template topics
                                    </h4>
                                </div>

                                <div class="button">
                                    <button type="reset" class="btn btn-sm btn-light">
                                        Reset
                                    </button>
                                </div>
                            </div>
                            <!-- CHECKLIST TEXT END -->

                            <!-- CHECKLIST BODY START -->
                            <div class="sidebar-check-list__body checkbox">
                                <ul>
                                    {% for item in site.data.template-check limit: 8 %}

                                    <!-- CHECKBOX ITEM START -->
                                    <li>
                                        <label class="checkbox__wraps" for="{{item.name}}">
                                            <span class="{% if item.check == 'check' %} active {% endif %} "></span>
                                        </label>
                                        <input type="checkbox" hidden id="{{item.name}}">
                                        <span>
                                            {{item.text}}
                                        </span>
                                    </li>
                                    <!-- CHECKBOX ITEM END -->

                                    {% endfor %}

                                    <a class="mt-2" href="#">
                                        <span>
                                            All files
                                        </span>
                                        <i class="fal fa-chevron-down"></i>
                                    </a>

                                </ul>
                            </div>
                        </div>
                        <!-- CHECKLIST BODY END -->

                        <!-- CHECKLIST START -->
                        <div class="sidebar-check-list">

                            <!-- CHECKLIST TEXT START -->
                            <div class="sidebar-check-list__text">
                                <div class="title">
                                    <h4>
                                        Price range
                                    </h4>
                                </div>

                                <div class="button">
                                    <button type="reset" class="btn btn-sm btn-light">
                                        Reset
                                    </button>
                                </div>
                            </div>
                            <!-- CHECKLIST TEXT END -->

                            <!-- CHECKLIST BODY START -->
                            <div class="sidebar-check-list__body checkbox">
                                <input type="text" class="template-price" name="template-price" />
                            </div>
                        </div>
                        <!-- CHECKLIST BODY END -->

                        <!-- CHECKLIST START -->
                        <div class="sidebar-check-list">

                            <!-- CHECKLIST TEXT START -->
                            <div class="sidebar-check-list__text">
                                <div class="title">
                                    <h4>
                                        Compatible Extensions
                                    </h4>
                                </div>

                                <div class="button">
                                    <button type="reset" class="btn btn-sm btn-light">
                                        Reset
                                    </button>
                                </div>
                            </div>
                            <!-- CHECKLIST TEXT END -->

                            <!-- CHECKLIST BODY START -->
                            <div class="sidebar-check-list__body checkbox">
                                <ul>
                                    {% for item in site.data.template-check offset: 8 %}

                                    <!-- CHECKBOX ITEM START -->
                                    <li>
                                        <label class="checkbox__wraps" for="{{item.name}}">
                                            <span class="{% if item.check == 'check' %} active {% endif %} "></span>
                                        </label>
                                        <input type="checkbox" hidden id="{{item.name}}">
                                        <span>
                                            {{item.text}}
                                        </span>
                                    </li>
                                    <!-- CHECKBOX ITEM END -->

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <!-- CHECKLIST BODY END -->

                </div>
                <!-- CHECKLIST END -->

                </form>
                <!-- FORM END -->
            </div>
            <!-- SIDEBAR END -->


            <!-- TEMPLATE BODY START -->
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
                <div class="template-body__main">

                    <div class="template-body__main__title">
                        <span>
                            You are viewing 6 Clean Agriculture templates
                        </span>
                    </div>

                    <div class="main-body__template template__body-item">
                        <!-- this class need to appear bcs it's too lazy to fix css -->
                        <div class="content">

                            <div class="row">
                                {% for item in site.data.main-body-templates-item%}
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="template-item">
                                        <div class="template-item__inner">
                                            <!-- IMAGE START -->
                                            <div class="template-item__inner__img">
                                                <img src="{{item.img_path}}" alt="template-item">
                                            </div>
                                            <!-- IMAGE END -->

                                            <!-- INFO START -->
                                            <div class="template-item__inner__info">
                                                <div class="info__inner">
                                                    <div class="name">
                                                        <span>
                                                            {{item.name}}
                                                        </span>
                                                    </div>

                                                    <div class="price">
                                                        {% if item.price != 0 %}
                                                        <i class="far fa-dollar-sign"></i><span>{{item.price}}</span>
                                                        {% else %}
                                                        <span>FREE</span>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="info_button">
                                                    <a href="#" class="btn btn-sm btn-warning">
                                                        Preview theme
                                                    </a>

                                                    <a href="template-details.html" class="btn btn-sm btn-light">
                                                        Theme details
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- INFO END -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- TEMPLATE BODY END -->

        </div>


    </div>
</div>
</div>