<footer>
    <div class="container">

        <!-- FOOTER WITH ITEM START -->
        <div class="footer">
            <div class="footer--modifier">

                <!-- FOOTER NAV START -->
                <div class="footer__nav">
                    <div class="footer__nav-logo">
                        <img src="assets/images/logo/qw-logo-light.png">
                    </div>
                    <div class="footer__nav-slogan">
                        <span>
                            | a ready-to-use solution for building website
                        </span>
                    </div>
                    <ul>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                        <li>
                            <i class="fas fa-star"></i>
                        </li>
                    </ul>
                </div>
                <!-- FOOTER NAV END -->

                <!-- FOOTER CONTENT START -->
                <div class="footer__content">
                    <div class="row">

                        <!-- FOOTER COLUMN START -->
                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="footer__content-column">

                                <!-- TITLE START -->
                                <div class="footer__content-column__title">
                                    <h6>
                                        Templates
                                    </h6>
                                </div>
                                <!-- TITLE END -->

                                <ul>
                                    {% for item in site.data.footer-item limit: 6 %}
                                    <li>
                                        <a href="#">
                                            <span>
                                                {{item.text}}
                                            </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <!-- FOOTER COLUMN END -->

                        <!-- FOOTER COLUMN START -->
                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="footer__content-column">

                                <!-- TITLE START -->
                                <div class="footer__content-column__title">
                                    <h6>
                                        Learn more
                                    </h6>
                                </div>
                                <!-- TITLE END -->

                                <ul>
                                    {% for item in site.data.footer-item offset: 6 limit: 4 %}
                                    <li>
                                        <a href="#">
                                            <span>
                                                {{item.text}}
                                            </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- FOOTER COLUMN END -->

                        <!-- FOOTER COLUMN START -->
                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="footer__content-column">

                                <!-- TITLE START -->
                                <div class="footer__content-column__title">
                                    <h6>
                                        Get Support
                                    </h6>
                                </div>
                                <!-- TITLE END -->

                                <ul>
                                    {% for item in site.data.footer-item limit: 3 offset: 10 %}
                                    <li>
                                        <a href="#">
                                            <span>
                                                {{item.text}}
                                            </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <!-- FOOTER COLUMN END -->

                        <!-- FOOTER COLUMN START -->
                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="footer__content-column">

                                <!-- TITLE START -->
                                <div class="footer__content-column__title">
                                    <h6>
                                        Build your website
                                    </h6>
                                </div>
                                <!-- TITLE END -->

                                <ul>
                                    {% for item in site.data.footer-item offset: 13 %}
                                    <li>
                                        <a href="#">
                                            <span>
                                                {{item.text}}
                                            </span>
                                            <label>
                                                {{item.label}}
                                            </label>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <!-- FOOTER COLUMN END -->

                    </div>
                </div>
                <!-- FOOTER CONTENT END -->
            </div>
        </div>
        <!-- FOOTER WITH ITEM END -->

        <!-- AUTH START -->
        <div class="auth">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div class="auth__inner">
                            <span>
                                @Quickweb 2021. All rights reserved. A product of FGC Techlution
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- AUTH END -->

    </div>
</footer>