<!-- HEADER START -->
<header>
    <div class="header">
        <nav>
            <div class="container-fluid header-nav">
                <div class="row">
                    <!-- LOGO START -->
                    <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3
                        header-nav__logo">
                        <div class="header-nav__logo-inner">
                            <img src="assets\images\logo\qw-logo.png"
                                alt="quickweb-logo">
                        </div>
                    </div>
                    <!-- LOGO END -->

                    <!-- MENU START -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6
                        header-nav__menu">
                        <div class="header-nav__menu-inner menu-inner">
                            <!-- LOGO START -->
                            <div class="menu-inner__logo">
                                <a href="index.html">
                                    <img src="assets\images\logo\qw-logo.png"
                                    alt="quickweb-logo">
                                </a>
                            </div>
                            <!-- LOGO END -->

                            <!-- NAV MENU START -->
                            <nav class="navbar navbar-display navbar-expand-lg navbar-light
                                ">
                                <div class="container-fluid">

                                    <button class="navbar-toggler" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarText"
                                        aria-controls="navbarText"
                                        aria-expanded="false" aria-label="Toggle
                                        navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse"
                                        id="navbarText">
                                        <ul class="navbar-nav me-auto mb-2
                                            mb-lg-0">
                                            <li class="nav-item nav-item--custom nav-item--logo ">
                                               <img src="assets\images\logo\qw-logo.png" >
                                            </li>
                                            {% for item in
                                            site.data.header-nav-item %}
                                            {% if item.link != # %}
                                            <li class="nav-item {{item.class}} {% if item.link == page.permalink %} active {% endif %}">
                                                <a class="nav-link"
                                                    aria-current="page"
                                                    href="{{item.link}}">{{item.text}}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                         
                                            <li>
                                                <div
                                                    class="header-nav__menu-inner__language
                                                    inner__language">
                                                    <div
                                                        class="inner__language__img">
                                                        <img
                                                            src="assets/images/lang/vi.png">
                                                    </div>
                                                    <span>
                                                        vi
                                                    </span>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </nav>
                            <!-- NAV MENU END -->

                            <!-- BUTTON ON SMALL DISPLAY START -->
                            <div class="menu-inner__button" id="header-menu__open">
                                <img src="assets/images/icon/bars.png" alt="bars" >
                            </div>
                            <!-- BUTTON ON SMALL DISPLAY END -->

                            <!-- NAV MENU ON SMALL DISPLAY START  -->
                            <div class="menu-inner__small">

                                <div id="menu-inner__small__close" class="menu-inner__small__close">
                                    <i class="fal fa-times"></i>
                                </div>

                                <ul>
                                    {% for item in site.data.header-nav-item %}
                                    <li>                                       
                                        {% if item.text != 'vi' %}
                                        <a  class="{% if item.link == page.permalink %} active {% endif %} {% if item.link == # %} btn btn-sm btn-warning {% endif %} " href="{{item.link}}">
                                            {{item.text}}
                                        </a>                  

                                        {% else %}
                                        <div class="menu-inner__small-lang">
                                            <img src="assets/images/lang/vi.png">
                                            <span>
                                                {{item.text}}
                                            </span>
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- NAV MENU ON SMALL DISPLAY END -->
                            
                        </div>
                    </div>
                    <!-- MENU END -->

                    <!-- PRICING START -->
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3
                        header-nav__pricing">
                        <div class="header-nav__pricing-inner">
                            <div class="pricing-inner">
                                <a href="pricing.html">
                                    Pricing
                                </a>
                                <a href="#" class="btn btn-sm btn-warning">
                                    Try Demo
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- PRICING END -->
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- HEADER END -->