$text-color: #000;
$text-title-color: #1B264F;
$text-active-color: #6263C5;
$primary-color: #274690;
$gold-color: #F1AF04;
$white-color: #ffffff;
$border-radius: 5px;
$transition-time: .3s;
$background-slide: #274690;
$background-color: #F5F3F5;
$text-checkbox-color: #6A6A6A;
$success-color: #519C16;
$full-hd: 2560px;
$laptop-l: 1440px;
$laptop:1024px;
$tablet: 768px;
$mobile-xl: 560px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

@mixin full-hd {
    @media (max-width: #{$full-hd}) {
        @content;
    }
}

@mixin laptop-l {
    @media (max-width: #{$laptop-l}) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile-xl {
    @media (max-width: #{$mobile-xl}) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: #{$mobile-l}) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: #{$mobile-m}) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: #{$mobile-s}) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

.btn {
    font-family: "Mulish", sans-serif;
    border-radius: 2 * $border-radius;
}

.btn-warning {
    background-color: $gold-color;
    color: $white-color;

    &--black {
        color: $text-color
    }

    &--primary {
        color: $primary-color;
    }
}

.btn-sm {
    padding: 6px 26px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;

    @include laptop {
        padding: 6px 12px;
    }
}

.badge {
    font-family: inherit;
    padding: 7px 14px;
    border-radius: 4 * $border-radius;
    font-size: 1.2rem !important;
    font-weight: 700;
    color: $primary-color !important;
}

.badge-light {
    background-color: #FDF6E6;
}

.link {
    text-decoration: none;
    color: #121212;
    margin-left: 15px;
    transition: $transition-time;
    text-transform: lowercase !important;

    &:hover {
        cursor: pointer;
        background-color: $gold-color;
        color: $white-color;
        font-weight: 500;
    }

    &-sm {
        padding: 5px 15px;
        border-radius: 2 * $border-radius;
    }

    &-warning {
        border: 1px solid $gold-color;
    }

    &-light {
        color: $white-color;
    }

}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Mulish", sans-serif;

    &--left {
        align-items: flex-start;

        @include mobile-l {
            align-items: center;
        }
    }

    .desc {
        text-align: center;

        span {
            width: 100%;
            font-weight: 700;
            color: $text-active-color;
            line-height: 2.2rem;
            font-size: 1.8rem
        }

        &--custom {
            text-align: left;
            width: 100%;

            p {
                margin: 0 0 10px 0;
                font-size: 2.4rem;
                font-family: 'Mulish', sans-serif;
                line-height: 3rem;
                color: $text-active-color;
                letter-spacing: -2%;
                font-family: inherit;
                width: 100%;

                @include tablet {
                    text-align: center;
                }
            }
        }

        &--feature {
            text-align: left;
            width: 100%;
            margin-bottom: 17px;

            p {
                margin: 0;
                font-family: 'Mulish', sans-serif;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #868585;
            }
        }
    }

    &--feature {
        h1 {
            font-family: inherit;
            font-size: 3rem !important;
            font-weight: 700 !important;
            line-height: 3rem !important;
            color: $text-active-color !important;
        }
    }

    h1 {
        color: $text-title-color;
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 700;
        margin: 0;

        @include mobile-l {
            font-size: 3rem;
            text-align: center;
        }
    }

    h2 {
        width: 100%;
        font-family: inherit;
        font-weight: 600;
        color: $white-color;
        font-size: 4.8rem;
        line-height: 4.8rem;
        text-align: left;
        margin: 0;

        @include mobile-l {
            font-size: 3rem;
            line-height: 3.2rem;
        }
    }

    h3 {
        font-family: inherit;
        font-size: 4rem;
        line-height: 5rem;
        color: $text-active-color;
        width: 100%;
        text-align: left;
        margin: 0;

        @include tablet {
            text-align: center;
        }

    }

    h4 {
        font-family: inherit;
        font-weight: 700;
        font-size: 1.8rem;
        color: $text-active-color;
        line-height: 2.2rem;
        width: 100%;
        text-align: left;
        margin: 0;
    }

    h5 {
        font-family: inherit;
        margin: 0;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3rem;
        letter-spacing: -2%;
        color: $gold-color;
        width: 100%;
        text-align: left;
    }

    h6 {
        font-family: inherit;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.5rem;
        letter-spacing: -2%;
        margin: 0;
    }


}


.p-91 {
    padding: 0 91px;
}

.separate {
    &::after {
        content: "";
        width: 1px;
        height: 15px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-45%);
        background-color: $white-color;
    }

    &--gold {
        &::after {
            background-color: $gold-color;
        }
    }
}

@import "./body/main-root.scss";
@import "./header/header.scss";
@import "./footer/footer.scss";