footer {
    width: 100%;
    height: auto;
    background-color: $text-title-color;
    font-family: 'Mulish', sans-serif;

    .footer {
        position: relative;
        border-bottom: 1px solid $white-color;

        &::before {
            position: absolute;
            content: "";
            background-image: url(/assets/images/icon/drop-down.png);
            top: -1px;
            left: 0px;
            width: 23px;
            height: 23px;
            background-repeat: no-repeat;
        }

        &--modifier {
            padding: 66px 0 78px;

            @include mobile-l {
                padding: 20px 0;
            }
        }

        &__nav {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            @include mobile-l {
                flex-direction: column;
                align-items: center;
            }

            &-slogan {
                display: flex;
                align-items: center;
                padding-bottom: 5px;

                span {
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                    color: $gold-color;

                    @include mobile-s {
                        font-size: 1.2rem;
                    }
                }

            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0 0 0 7px;
                padding-bottom: 5px;

                li {
                    display: inline;

                    i {
                        font-size: 1.5rem;
                        color: $gold-color;
                    }
                }
            }
        }

        &__content {
            margin-top: 57px;

            @include mobile-l {
                margin-top: 25px;
            }

            &-column {
                @include mobile-l {
                    text-align: center;
                    margin-bottom: 25px;
                }

                &__title {
                    margin-bottom: 19px;

                    h6 {
                        font-family: inherit;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        font-weight: 400;
                        letter-spacing: -2%;
                        color: $white-color;

                        @include mobile-l {
                            color: $gold-color;
                            font-weight: 700;
                            font-size: 2rem;

                        }
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        margin-bottom: 15px;

                        a {
                            text-decoration: none;
                            color: $white-color;
                            font-family: inherit;
                            font-weight: 700;
                            font-size: 1.6rem;
                            line-height: 2.0rem;
                            letter-spacing: -2%;
                            transition: $transition-time;

                            &:hover {
                                color: $gold-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .auth {
        padding: 39px 0;

        &__inner {
            text-align: center;
            font-family: inherit;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: $white-color;
            letter-spacing: -2%;
        }
    }
}