header {
    font-family: 'Mulish', sans-serif;

    .header {
        padding: 15px 47px 32px 52px;

        @include tablet {
            padding: 15px
        }

        .header-nav__logo {
            @include laptop {
                display: none;
            }

            &-inner {
                img {
                    width: 155px;
                    height: 53px;
                }
            }
        }

        .header-nav__menu {

            &-inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet {
                    justify-content: space-between;
                    align-items: flex-start;

                    .navbar {
                        padding-top: 20px;
                    }
                }

                .menu-inner__logo {
                    display: none;

                    @include tablet {
                        display: block;
                    }
                }

                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    @include tablet {
                        align-items: flex-start;
                    }

                    .nav-item {
                        transition: $transition-time;
                        margin: 0 15px;

                        @include laptop {
                            margin: 0 10px;
                        }

                        @include tablet {
                            margin: 0;
                        }

                        &--custom {
                            display: none;

                            @include laptop {
                                display: block;
                            }

                            img {
                                width: 110px;
                                height: auto;
                            }
                        }

                        &--logo {
                            @include tablet {
                                display: none;
                            }
                        }

                        &.active {
                            a {
                                color: $text-active-color !important;
                            }
                        }

                        a {
                            text-decoration: none;
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 2rem;
                            color: $text-color !important;

                        }

                        &:hover {
                            cursor: pointer;

                            a {
                                color: $text-active-color;
                            }
                        }

                    }
                }

                &__language {
                    display: flex;
                    align-items: center;

                    span {
                        font-family: inherit;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        /* identical to box height */
                        letter-spacing: -0.02em;
                        color: $text-color;

                    }
                }

                .navbar-display {
                    @include tablet {
                        display: none;
                    }
                }

                .menu-inner__button {

                    display: none;

                    @include tablet {
                        display: block;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }

                .menu-inner__small {
                    display: none;
                    transition: $transition-time;

                    &.active {
                        display: block;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($white-color, .95);
                        z-index: 1;
                        padding: 20px 10px;
                        opacity: 0;
                        animation: fade .3s forwards;

                        @keyframes fade {
                            from {
                                opacity: 0;
                            }

                            to {
                                opacity: 1;
                            }
                        }

                        .menu-inner__small__close {
                            text-align: right;

                            i {
                                font-size: 2.5rem;
                                color: $gold-color;
                            }
                        }

                        ul {
                            padding: 42px 80px 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;

                            li {
                                width: 100%;
                                text-align: center;
                                margin: 10px 0;

                                a {
                                    font-family: inherit;
                                    font-size: 1.7rem;
                                    color: $text-color;
                                    font-weight: 700;
                                    text-decoration: none;
                                    line-height: 2.1rem;
                                    transition: $transition-time;

                                    &:hover {
                                        color: $primary-color;

                                    }

                                    &.active {
                                        color: $primary-color;
                                    }
                                }

                                .menu-inner__small-lang {
                                    border-top: 1px solid #E0E0E0;
                                    border-bottom: 1px solid #E0E0E0;
                                    padding: 30px;

                                    span {
                                        font-family: inherit;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 1.6rem;
                                        line-height: 2rem;
                                        letter-spacing: -0.02em;
                                        color: $text-color
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-nav__pricing {
            @include laptop {
                display: none;
            }

            &-inner {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .pricing-inner {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: $text-active-color;
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        font-weight: bold;
                        margin-right: 20px;

                        &.btn {
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}