.blog-body {
    font-family: 'Mulish', sans-serif;
    margin: 83px 0 100px 0;

    @include tablet {
        margin: 50px 0;
    }

    @include mobile-l {
        margin: 20px 0;
    }

    &__slide {
        margin-bottom: 100px;

        @include tablet {
            margin-bottom: 50px;
        }

        @include mobile-l {
            margin-bottom: 20px;
        }

        &__item {
            .slide-item__img {
                width: 100%;

                img {
                    border-radius: 2 * $border-radius;
                    width: 100%;
                    height: 357px;

                    @include tablet {
                        height: 250px;
                    }
                }
            }

            .slide-item__content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .item-content__info {
                    margin-bottom: 17px;

                    span {
                        font-family: inherit;
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        color: $text-color;
                        margin-right: 34px;
                    }
                }

                .item-content__title {
                    margin-bottom: 14px;
                }

                .item-content__desc {
                    margin-bottom: 20px;

                    p {
                        margin: 0;
                        font-family: inherit;
                        font-size: 1.6rem;
                        line-height: 3.5rem;
                        letter-spacing: -2%;
                        color: $text-color;
                    }

                }
            }
        }

        .slick-dots {
            list-style: none;
            margin: 20px;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                margin: 0 5px;

                &.slick-active {

                    button {
                        background-color: $text-title-color;
                    }
                }

                button {
                    width: 8px;
                    height: 10px;
                    border: none;
                    border-radius: 50%;
                    outline: none;
                    color: transparent;
                }
            }


        }
    }

    &__content {
        .nav-tabs {
            display: flex;
            justify-content: center;
            border: none;



            li {

                .nav-link {
                    font-family: inherit;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 700;
                    margin: 0 22px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    transition: $transition-time;
                    color: $text-color;

                    @include mobile-l {
                        border: 1px solid $primary-color;
                        border-radius: 5px;
                        margin: 0;
                        padding: 10px 20px;

                    }

                    &.active {
                        border-bottom: 4px solid $text-active-color;

                        @include mobile-l {
                            border-bottom: 1px solid $primary-color;
                            color: $white-color;
                            background-color: $primary-color;
                        }
                    }

                }
            }
        }

        .tab-content {
            margin-top: 38px;

            &__item {
                .item__inner {
                    &__img {
                        width: 100%;
                        height: 338px;
                        border-radius: 2 * $border-radius;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: $transition-time;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    &__container {
                        padding: 30px 20px;
                        max-width: 100%;

                        .item__container__info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0 0 17px 0;

                            span {
                                font-size: 1.4rem;
                                line-height: 1.8rem;
                                color: $text-color;
                            }
                        }

                        .item__container__name {
                            a {
                                text-decoration: none;
                                color: $text-color;
                                font-family: inherit;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 1.8rem;
                                line-height: 3.2rem;
                                transition: $transition-time;

                                &:hover {
                                    color: $gold-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}