.feature {
    font-family: 'Mulish', sans-serif;
    margin-bottom: 87px;

    &__module {
        margin-top: 87px;

        @include tablet {
            margin-top: 20px;
        }

        &-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;


            &__content {

                .desc__content-paragraph {
                    margin-top: 26px;

                    p {
                        margin-bottom: 0;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 1.8rem;
                        line-height: 3.2rem;

                        @include tablet {
                            text-align: center;
                        }
                    }
                }

                .desc__content-list {
                    ul {
                        margin: 0 0 20px 0;
                        padding: 0;
                        list-style: none;

                        @include tablet {
                            text-align: center;
                        }

                        li {
                            a {
                                font-size: 1.8rem;
                                line-height: 3.6rem;
                                text-decoration: none;
                                font-family: inherit;
                                font-weight: 700;
                                color: $text-color;
                            }
                        }
                    }
                }

                .desc__content-button {
                    @include tablet {
                        text-align: center;
                    }
                }
            }

        }

        &-img {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: 587px;

                @include mobile-l {
                    height: 300px;
                }

                @include mobile-m {
                    height: 250px;
                }
            }
        }
    }
}