.module-details {
    font-family: 'Mulish', sans-serif;

    &__wraps {
        .details__wraps__img {
            padding: 0;
            background-color: transparent;
            overflow: unset;

            img {
                border-radius: unset;
            }
        }

        .details__wraps__paragraph {
            margin-bottom: 35px;

            .paragraph__title {
                margin-bottom: 25px;

                h2 {
                    font-family: inherit;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.1rem;
                    line-height: 2.6rem;
                    letter-spacing: -0.02em;
                    color: $primary-color
                }
            }

            .paragraph__content {
                p {
                    font-family: inherit;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                    letter-spacing: -0.02em;
                    color: $text-color
                }
            }
        }

        .details__wraps__involve {
            .involve__slide__item {
                padding: 0 5px 0 0;
            }

            .main-body__template {
                margin-bottom: 0;
            }
        }
    }
}