.page-banner {
    background-color: $primary-color;
    height: auto;
    font-family: "Mulish", sans-serif;

    &__inner {
        display: flex;
        justify-content: space-between;

        &-text {
            padding: 60px 0;

            @include tablet {
                padding: 20px 0;
            }

            .page-text {
                &__link {
                    margin-bottom: 22px;

                    i {
                        font-size: 1.2rem;
                        color: $white-color;
                        margin: 0 16px 0 12px;
                    }

                    &__home {
                        color: $white-color;
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        text-decoration: none;
                        transition: $transition-time;

                        &:hover {
                            color: $gold-color;
                        }

                        &--modifier {
                            opacity: .6;
                        }
                    }
                }

                &__slogan {
                    font-family: inherit;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $white-color;
                    line-height: 2.5rem;
                    margin-bottom: 34px;

                    label {
                        color: $gold-color
                    }

                    @include mobile-l {
                        margin-bottom: 15px;
                    }
                }
            }

            .title {
                margin-bottom: 20px;
            }


        }

        &-img {
            display: flex;
            align-items: flex-end;

            @include tablet {
                align-items: center;

                img {
                    width: 340px;
                }
            }

            @include mobile-l {
                display: none;
            }

            &.module {
                img {
                    width: 273px;
                    height: auto;
                }
            }

            &.blog {
                margin-bottom: 21px;
            }
        }

        &__module {
            display: flex;
            flex-direction: column;
            justify-content: center;


            @include laptop {
                justify-content: center;
            }

            a {
                margin-bottom: 31px;
            }

            .inner__module {
                text-align: justify;
            }

            span {
                font-family: inherit;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.0rem;
                letter-spacing: -0.02em;
                color: $white-color;
                margin-left: 45px;
                display: inline-block;
                // width: 100%;


                @include laptop {
                    margin: 0 5px 0 0;
                }
            }
        }

        &__template {
            padding: 94px;
            text-align: right;

            @include tablet {
                padding: 20px 0;
            }

            span {
                font-family: inherit;
                font-style: normal;
                font-weight: 600;
                font-size: 3.2rem;
                line-height: 4rem;
                text-align: right;
                letter-spacing: -0.02em;
                color: $white-color;
            }

            .inner__template__button {
                margin-top: 27px;

                a {
                    margin-left: 30px;

                    @include laptop {
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}