.module-body {
    font-family: 'Mulish', sans-serif;

    .nav-tabs {
        display: flex;
        justify-content: center;
        border: none;
        margin-top: 62px;

        @include mobile-l {
            margin-top: 20px;
        }

        .nav-link {
            font-family: inherit;
            font-size: 1.8rem;
            line-height: 2.2rem;
            font-weight: 700;
            margin: 0 22px;
            border: none;
            background-color: transparent;
            outline: none;
            transition: $transition-time;
            color: $text-color;

            @include mobile-l {
                border: 1px solid $primary-color;
                border-radius: 5px;
                margin: 0;
                padding: 10px 20px;

            }

            &:hover {
                border-bottom: 4px solid $text-active-color;

            }

            &.active {
                border-bottom: 4px solid $text-active-color;

                @include mobile-l {
                    border-bottom: 1px solid $primary-color;
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
    }

    .tab-content {
        margin-top: 63px;
        margin-bottom: calc(104px - 18px);

        @include mobile-l {
            margin: 20px 0;
        }
    }

    &__item {
        margin-bottom: 18px;

        &-inner {
            box-sizing: border-box;
            max-height: 155px;
            padding: 28px 20px 66px 30px;
            border: 1px solid $text-active-color;
            border-radius: 2 * $border-radius;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .item-inner__text {

                a {
                    text-decoration: none;
                    font-family: inherit;
                    font-size: 2.1rem;
                    font-weight: 700;
                    color: $text-color;
                    line-height: 2.6rem;
                    letter-spacing: -2%;
                    margin-bottom: 12px;
                    display: block;
                    transition: $transition-time;

                    &:hover {
                        color: $gold-color;
                    }
                }

                span {
                    display: block;
                    font-family: inherit;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    color: $text-color;

                }
            }
        }
    }
}