.pricing-body {
    height: auto;
    background-image: url(/assets/images/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mulish', sans-serif;

    &__inner {
        background-color: rgba($text-active-color, .9);
    }

    &__content {
        padding: 106px 0;
        z-index: 1;

        @include tablet {
            padding: 20px 0;
        }

        &__item {
            padding: 37px 44px 52px 45px;
            display: flex;
            flex-direction: column;
            height: calc(666px - 2 * 106px);
            justify-content: space-between;
            border-radius: 2 * $border-radius;
            transition: $transition-time;

            &:hover {
                cursor: pointer;
                transform: translateY(-5px);
            }

            &--white {
                background-color: $white-color;
            }

            &--primary {
                background-color: $primary-color;
            }

            .item {

                &__title {
                    margin-bottom: 33px;
                    position: relative;

                    img {
                        position: absolute;
                        top: -105%;
                        right: 27%;

                        @include laptop {
                            right: -10%;
                        }

                        @include tablet {
                            right: 7%;
                        }

                        @include mobile-l {
                            right: 24%;
                        }

                        @include mobile-m {
                            right: 11%;
                        }

                        @include mobile-s {
                            right: -10%;
                        }

                    }

                }

                &__price {
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 5rem;
                    letter-spacing: -2%;
                    color: $white-color;
                    margin-bottom: 18px;

                    i {
                        font-size: 4rem;
                    }

                    &--primary {
                        color: $text-title-color;
                    }

                    &--white {
                        color: $white-color
                    }
                }

                &__services {

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        .item__services__text {
                            font-size: inherit;
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2rem;
                            letter-spacing: -2%;
                            margin-bottom: 9px;

                            &--primary {

                                span {
                                    color: $primary-color !important;
                                }
                            }

                            &--white {
                                span {
                                    color: $white-color
                                }
                            }

                            i {
                                color: $success-color;
                            }
                        }
                    }
                }

                &__button {
                    width: 100%;
                    left: 0;

                    a {
                        width: 100%;
                    }
                }
            }

        }
    }
}