.blog-details-body {
    font-family: 'Mulish', sans-serif;

    &__breakcrum {
        background-image: url(/assets/images/blog/breakcrum.png);
        padding: 164px 0 48px;

        .breakcrum__text {
            margin-bottom: 110px;

            &__link {
                margin-bottom: 28px;

                a {
                    font-family: inherit;
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $white-color;
                    line-height: 1.6rem;
                    letter-spacing: -2%;
                    text-decoration: none;
                    transition: $transition-time;
                    margin-right: 12px;

                    &:hover {
                        color: $gold-color;
                    }
                }

                i {
                    font-size: 1.2rem;
                    color: $white-color;
                    margin-right: 25px;
                }
            }

            &__title {
                margin-bottom: 33px;

                h2 {
                    margin: 0;
                    font-family: inherit;
                    font-size: 4.2rem;
                    font-weight: 700;
                    line-height: 5.2rem;
                    letter-spacing: -2%;
                    color: $white-color;
                    padding-right: 370px;
                }
            }

            &__date {
                span {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    font-family: inherit;
                    font-weight: 700;
                    color: $white-color;
                }
            }
        }

        .breakcrum__inner {
            display: flex;
            align-items: flex-end;
        }

        .breakcrum__img {
            display: inline;
        }

    }

    &__content {
        margin: 77px 0 82px;

        .content__body {
            padding-right: 114px;

            &__paragraph {
                p {
                    margin-bottom: 30px;
                    font-family: inherit;
                    font-size: 1.8rem;
                    color: $text-color;
                    line-height: 3rem;
                    font-weight: 400;
                    text-align: justify;
                }

            }

            &__img {
                margin-bottom: 39px;

                .img__caption {
                    p {
                        width: 100%;
                        text-align: center;
                        color: $primary-color;
                        font-weight: 600;
                        font-family: inherit;
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        margin-top: 9px;
                    }
                }
            }
        }

        .content__sidebar {
            .content__sidebar__title {
                margin-bottom: 17px;

                h2 {
                    font-family: inherit;
                    font-weight: 700;
                    font-size: 2.4rem;
                    color: $primary-color;
                    line-height: 3rem;
                }
            }

            .content__sidebar__post {
                margin-bottom: 70px;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        .sidebar-post__item {
                            display: flex;
                            align-items: center;
                            margin-bottom: 25px;

                            &__img {
                                width: 117px;
                                height: 100px;
                                overflow: hidden;
                                border-radius: 2 * $border-radius;
                                margin-right: 28px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            &__content {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;

                                .post__info {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 100%;
                                    margin-bottom: 14px;

                                    span {
                                        font-family: inherit;
                                        font-size: 1.4rem;
                                        line-height: 1.8rem;
                                        color: $text-color;
                                    }

                                }

                                .post__name {
                                    a {
                                        text-decoration: none;
                                        color: $text-color;
                                        font-family: inherit;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 1.6rem;
                                        line-height: 2.6rem;
                                        /* or 162% */
                                        letter-spacing: -0.02em;

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .content__sidebar__intro {
                height: 287px;
                border-radius: 2 * $border-radius;
                padding: 43px 29px 39px 45px;
                background-color: $primary-color;
                position: relative;

                .sidebar-intro__light {
                    position: absolute;
                    right: 0;
                    bottom: 50px;
                }

                .sidebar-intro__inner {

                    &__title {
                        margin-bottom: 8px;

                        h2 {
                            font-family: inherit;
                            font-weight: 700;
                            font-size: 2.4rem;
                            line-height: 3.5rem;
                            color: $white-color;
                        }
                    }

                    &__desc {
                        margin-bottom: 70px;

                        h3 {
                            font-family: inherit;
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                            font-weight: 600;
                            color: $gold-color;
                        }
                    }

                    &__button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: $white-color;
                            font-size: 1.6rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }



}