.template-details-body {

    font-family: 'Mulish', sans-serif;

    .nav-tabs {
        padding-bottom: 29px;

        @include mobile-l {
            padding: 10px 0;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .nav-item {

            .nav-link {

                font-family: inherit;
                border: none;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: $text-color;
                margin: 0 30px 0 0;
                font-weight: 700;
                padding-top: 25px;
                transition: $transition-time;

                @include mobile-l {
                    border: 1px solid $gold-color;
                    padding: 6px 10px;
                    margin: 0;
                    border-radius: $border-radius;
                }

                &:hover {

                    border-top: 4px solid $gold-color;

                }

                &.active {

                    border-top: 4px solid $gold-color;

                    @include mobile-l {
                        border-top: none;
                        background-color: $gold-color;
                        color: $white-color;
                    }
                }

            }

        }
    }


    .details__sidebar {
        padding: 40px 35px 53px 30px;
        background-color: #F3F3F3;
        border: 1px solid $primary-color;
        border-radius: 2 * $border-radius;
        width: 100%;
        margin-top: 51px;

        @include tablet {
            margin: 20px 0;
        }

        &__inner {

            .sidebar-inner__title {
                margin-bottom: 22px;

                h2 {
                    font-family: inherit;
                    font-size: 2.1rem;
                    line-height: 2.6rem;
                    color: $primary-color;
                    font-weight: 700;

                }
            }

            .sidebar-inner__list {
                border-bottom: 1px solid #C4C4C4;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-bottom: 20px;

                        i {
                            font-size: 1.8rem;
                            color: $success-color;
                        }

                        span {
                            font-family: inherit;
                            font-size: 1.6rem;
                            line-height: 2.6rem;
                            color: $text-color;
                            font-weight: 400;
                        }
                    }
                }
            }

            .sidebar-inner__table {
                margin-top: 20px;
                border-bottom: 1px solid #C4C4C4;

                table {
                    width: 100%;

                    tr {
                        margin-bottom: 18px;
                        border: none;
                        display: block;
                        height: auto;
                        width: 100%;
                        display: flex;
                        padding: 0;

                        td {
                            font-family: inherit;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.6rem;
                            line-height: 2.6rem;
                        }

                        .table__title {
                            width: 100px;
                        }

                        .table__content {
                            flex: 1;
                            text-align: right;


                        }
                    }
                }
            }

            .sidebar-inner__price {
                margin-top: 30px;

                .price__title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    span {
                        font-family: inherit;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                    }

                    .price__number {
                        color: $primary-color;
                        font-weight: 700;
                        font-size: 2.4rem;
                        line-height: 2.6rem;
                    }
                }

                .price__btn {
                    .btn {
                        width: 100%;
                    }
                }
            }
        }

    }
}

.tab-content {
    .details__wraps {
        &__img {
            margin: 51px 0 55px 0;
            padding: 31px 25px 0 25px;
            width: 100%;
            height: auto;
            border-radius: 2 * $border-radius;
            background-color: rgba($primary-color, .2);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            img {
                width: 100%;
                border-radius: 5 * $border-radius;
                height: 507px;
            }
        }

        &__feature {
            margin-bottom: 50px;

            @include mobile-l {
                margin-bottom: 20px;
                border-bottom: 1px solid rgba($primary-color, .2);
            }

            &__inner {
                .feature-inner__img {
                    padding: 58px 12px;
                    border-radius: 2 * $border-radius;
                    background-color: rgba($primary-color, .1);

                    &--large {
                        padding: 98px 5px 83px;
                    }

                    img {
                        width: 100%;
                        height: 255px;
                        border-radius: 5 * $border-radius;
                    }
                }

                .feature-inner__content {
                    @include mobile-l {
                        margin: 10px 0;
                    }

                    &__paragraph {
                        margin: 10px 0 29px 0;

                        @include tablet {
                            margin-bottom: 0;
                        }

                        p {
                            font-size: 400;
                            font-family: inherit;
                            font-size: 1.8rem;
                            line-height: 3.2rem;
                            color: $text-color;
                        }
                    }

                    &__list {
                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            // height: 129px;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                width: 155px;
                                margin-right: 48px;

                                i {}

                                span {
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    line-height: 3.2rem;
                                    font-family: inherit;
                                    color: $text-color;
                                }
                            }
                        }
                    }

                    &__button {
                        margin-top: 33px;
                    }
                }


            }


        }
    }
}

.details__wraps__interactive {

    display: flex;
    flex-wrap: wrap;
    padding: 29px 0;
    margin-bottom: 87px;

    @include tablet {
        margin-bottom: 0px;
    }

    .interactive__row {
        width: 100%;
    }

    .interactive__item {
        // padding: 0 87px;
        text-align: center;

        @include mobile-l {
            margin-bottom: 10px;
        }

        &--border {
            border-right: 1px solid #888;

            @include mobile-l {
                border: none;
            }
        }

        span {
            display: block;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $text-color;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }
    }
}