.template-body {
    margin: 73px 0 0 0;

    @include tablet {
        margin-top: 20px;
    }

    &__sidebar {
        padding: 42px 27px 0 30px;
        border: 1px solid $text-active-color;
        border-radius: 2 * $border-radius;
        margin-bottom: 20px;

        .sidebar-check-list {
            padding-bottom: 36px;
            border-bottom: 1px solid $text-checkbox-color;
            margin-bottom: 36px;

            &:last-child {
                padding-bottom: 54px;
                margin-bottom: 0;
                border-bottom: none;
            }

            &__text {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 25px;

                .button {
                    .btn {

                        background-color: transparent;
                        padding: 0;
                    }
                }
            }

            &__body {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 11px;

                        label {
                            padding: 4px;
                            border: 1px solid $text-active-color;
                            margin-right: 13px;

                            span {
                                width: 10px;
                                height: 10px;
                                display: block;

                                &.active {
                                    background-color: $text-active-color;
                                }
                            }
                        }


                        span {
                            font-family: inherit;
                            font-weight: 600;
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            letter-spacing: -2%;
                            color: $text-checkbox-color;
                        }
                    }
                }

                .irs-from {
                    display: none;
                }

                .irs-from,
                .irs-to {
                    background-color: $text-active-color;
                }

                .irs-handle {
                    border: none;
                    background-color: $gold-color;
                }

                .irs-bar {
                    background-color: unset;
                }

                a {
                    font-family: inherit;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    letter-spacing: -2%;
                    font-weight: 600;
                    color: $text-checkbox-color;
                    text-decoration: none;
                }
            }
        }
    }

    &__row {
        flex-wrap: wrap-reverse;
    }

    .template__body-item {
        @include tablet {
            margin-bottom: 20px;
        }
    }

    &__main {

        &__title {
            margin-bottom: 30px;

            span {
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 1.6rem;
                color: #8A8A8A;

            }
        }
    }
}