main {
    .main-body {

        &__slide {
            position: relative;

            &__wraps {
                max-height: auto;
                font-family: 'Mulish',
                    sans-serif;

                @include laptop {
                    height: 450px;
                }

            }

            .slick-list.draggable {
                height: 100%;
            }

            .body-slide__container {
                height: auto;
                background-color: $primary-color;

                @include laptop {
                    height: 350px;
                    position: relative;
                }

                @include mobile-l {
                    height: 375px;
                }

                @include mobile-s {
                    height: 400px;
                }

                .body-slide__wraps {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include laptop {
                        flex-direction: column;
                    }

                    &__text {
                        max-width: 500px;
                        padding: 152px 0 203px 91px;

                        @include laptop {
                            padding: 29px 71px 0;
                            text-align: center;
                        }

                        .slide-text__title {
                            margin-bottom: 50px;

                            @include laptop {
                                margin-bottom: 5px;
                            }

                            h1 {
                                font-family: inherit;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 3rem;
                                line-height: 4.3rem;
                                letter-spacing: -0.02em;
                                color: $white-color;
                                margin: 0;

                                @include laptop {
                                    font-size: 1.6rem;
                                    line-height: 2.4rem;
                                }
                            }
                        }

                        .slide-text__description {
                            margin-bottom: 26px;

                            @include laptop {
                                margin-bottom: 15px;
                            }

                            h2 {
                                font-family: inherit;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 2rem;
                                line-height: 2.5rem;
                                letter-spacing: -0.02em;
                                color: $white-color;
                                margin: 0;

                                @include laptop {
                                    font-size: 1.8rem;
                                    line-height: 2rem;
                                }
                            }

                        }

                        .slide-text__button {
                            .slide-text__button__label {
                                font-family: inherit;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 1.6rem;
                                line-height: 2rem;
                                letter-spacing: -0.02em;
                                color: $white-color;
                                text-decoration: none;

                                @include laptop {
                                    display: none;
                                }
                            }

                            .btn {
                                margin-right: 30px;

                                @include laptop {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    &__img {
                        @include laptop {
                            position: absolute;
                            bottom: -50%;
                            transform: translateY(-45%);

                            img {
                                width: 323px;
                            }
                        }

                        @include mobile-s {
                            transform: translateY(-113%);

                            img {
                                width: 200px;

                            }
                        }
                    }
                }
            }

            .body-slide__dropdown {
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 100%;
                text-align: center;

                img {
                    transition: $transition-time;
                    cursor: pointer;
                    &.active {
                        transform: translateY(5px);
                    }
                }
            }
        }

        &__features {
            margin-top: 63px;
            font-family: "Mulish", sans-serif;

            @include tablet {
                margin-top: 20px;
            }

            &-wraps {
                margin-top: 32px;

                @include mobile-l {
                    padding: 0 10px;
                    margin-top: 20px;
                }

                .features-item {
                    width: 100%;
                    display: flex;
                    margin-bottom: 17px;

                    &__inner {
                        width: 100%;
                        height: 220px;
                        margin: auto;
                        border-radius: 2 * $border-radius;
                        border: 1px solid $text-active-color;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 34px;

                        .icon {
                            margin-bottom: 19.5px;

                            img {
                                width: 4.55rem;
                                height: 3.325rem;
                            }
                        }

                        .text {
                            span {
                                font-family: inherit;
                                font-size: 2.9rem;
                                font-weight: 700;
                                line-height: 3.64rem;
                                text-align: center;
                                max-width: 280px;
                                display: block;
                            }

                            // để đảm bảo tỉ lệ, 
                            // nên các thông số kích thước trong phần text và img 
                            // của features item sẽ nhân với hệ số 1.4
                        }
                    }
                }
            }
        }

        &__banner {
            padding: 34px 0 60px 0;
            background-color: $primary-color;
            font-family: 'Mulish', sans-serif;
            position: relative;
            margin: 63px 0 99px;

            @include mobile-l {
                margin: 20px 0;
                padding: 20px 10px;
            }

            &::after {
                content: "";
                background-image: url(/assets/images/icon/drop-up.png);
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(0-50%);
                width: 24px;
                height: 19px;
                background-repeat: no-repeat;
                // background-size: cover;
            }

            .banner-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include mobile-l {
                    border-bottom: 1px solid $white-color;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }

                &__title {
                    span {
                        font-size: 6rem;
                        line-height: 7.5rem;
                        font-weight: 700;
                        color: $gold-color;

                        i {
                            font-size: 5rem;
                        }
                    }
                }

                &__desc {
                    span {
                        display: block;
                        font-weight: 700;
                        line-height: 2.2rem;
                        font-size: 1.8rem;
                        text-align: center;
                        max-width: 200px;
                        color: $white-color;
                    }
                }
            }
        }

        &__template {
            font-family: 'Mulish', sans-serif;
            margin-bottom: 87px;

            .content {

                .nav {
                    display: flex;
                    justify-content: center;
                    border: none;
                    margin: 36px 0;

                    @include mobile-l {
                        margin-bottom: 10px;
                    }

                    .nav-link {
                        border: none;
                        background-color: transparent;
                        color: $text-title-color;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        text-align: center;
                        padding: 5px;
                        margin: 0 30px;
                        transition: $transition-time;


                        &:hover {
                            border-bottom: 4px solid $text-active-color
                        }

                        &.active {
                            border-bottom: 4px solid $text-active-color;

                            @include mobile-l {
                                border-bottom: 1px solid $primary-color;
                                background-color: $primary-color;
                                color: $white-color;

                            }
                        }

                        @include mobile-l {
                            border: 1px solid $primary-color;
                            // border-top-left-radius: $border-radius;
                            // border-top-right-radius: $border-radius;
                            border-radius: $border-radius;
                            margin: 0;
                            padding: 10px 20px;
                        }

                    }

                    .btn {
                        @include mobile-l {
                            display: none;
                        }
                    }
                }

                .nav__more {
                    display: none;

                    @include mobile-l {
                        display: block;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }

                .template-item {
                    font-family: 'Mulish', sans-serif;
                    width: 100%;
                    border-radius: $border-radius;
                    height: auto;
                    margin-bottom: 15px;
                    overflow: hidden;

                    &__inner {
                        position: relative;
                        height: 526px;
                        width: 100%;

                        &__img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &__info {
                            position: absolute;
                            z-index: 1;
                            bottom: 0;
                            padding: 40px 32px 32px;
                            background-color: $primary-color;
                            left: 0;
                            width: 100%;
                            height: auto;
                            border-radius: $border-radius;

                            .info__inner {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .name {
                                    font-family: inherit;
                                    font-weight: 700;
                                    font-size: 1.8rem;
                                    color: $white-color;
                                    line-height: 2.2rem;
                                }

                                .price {
                                    font-family: inherit;
                                    font-weight: 700;
                                    font-size: 1.8rem;
                                    line-height: 2.2rem;
                                    color: $gold-color;

                                    span {
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .info_button {
                                padding-top: 0;
                                height: 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                transform: scaleY(0);
                                transform-origin: 50% 100%;
                                transition: $transition-time;
                            }
                        }
                    }

                    &:hover {
                        .info_button {
                            height: auto;
                            padding-top: 50px;
                            transform: scaleY(1);

                            @include tablet {
                                .btn-sm {
                                    padding: 6px 10px;
                                }
                            }

                            @include mobile-m {
                                .btn-sm {
                                    padding: 6px 15px;
                                }
                            }

                            @include mobile-s {
                                .btn-sm {
                                    padding: 6px;
                                }
                            }
                        }
                    }
                }

                .template-button {
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }

        &__customer {
            &__inner {
                margin-top: 60px;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
        }

        &__quote {
            font-family: "Mulish", sans-serif;
            margin-top: 91px;

            .main-body__quote-item {
                display: flex;
                width: 100%;
                padding: 0 5px;
            }

            &__inner {
                padding: 52px 30px 30px 50px;
                border-radius: 2 * $border-radius;
                background-color: $primary-color;
                width: 100%;
                height: 338px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include mobile-l {
                    height: auto;
                }

                .quote__inner__content {
                    span {

                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                        color: $white-color;
                    }
                }

                .quote__inner__footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .quote__footer__auth {
                        &-name {
                            .name {
                                span {
                                    font-weight: 600;
                                    font-size: 2.4rem;
                                    line-height: 3rem;
                                    color: $gold-color;
                                }
                            }
                        }

                        &-country {
                            font-weight: 400;
                            font-size: 1.6rem;
                            color: $white-color;
                            line-height: 2rem;
                            letter-spacing: -0.02em;
                            display: flex;
                            margin-top: 8px;

                            span {
                                display: block;
                                padding: 0 5px;
                                position: relative;
                            }


                        }
                    }
                }
            }

            .slick-dots {
                list-style: none;
                display: flex;
                justify-content: center;
                margin-top: 47px;

                li {
                    button {
                        width: 13px;
                        height: 13px;
                        color: transparent;
                        border: none;
                        border-radius: 50%;
                        margin: 0 5px;
                    }

                    &.slick-active {
                        button {
                            background-color: $gold-color;
                        }
                    }
                }

            }
        }

        &__support {
            font-family: 'Mulish', sans-serif;
            margin-top: 75px;

            .support__item {
                margin-top: 32px;
                border: 1px solid $text-active-color;
                border-radius: 2 * $border-radius;
                height: 280px;
                box-sizing: border-box;

                &-inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 43px 41px 53px;

                    &__img {
                        text-align: center;
                        margin-bottom: 32px;

                        img {
                            width: 58px;
                            height: 58px;
                        }
                    }

                    &__content {
                        font-size: 2.1rem;
                        font-weight: 700;
                        text-align: center;
                        line-height: 2.6rem;
                        letter-spacing: -2%;
                        color: $text-title-color;
                        margin-bottom: 26px;

                        span {
                            display: block;
                            max-width: 300px;
                        }
                    }

                    &__button {}
                }
            }
        }

        &__contributors {
            margin-top: 82px;
            margin-bottom: 55px;
            padding: 91px 0;
            background-color: $background-color;
            font-family: 'Mulish', sans-serif;

            @include tablet {
                padding: 20px 0;
                margin: 20px 0;
            }

            .contributor-item {
                margin-top: 60px;
                margin-bottom: 30px;


                &__inner {
                    display: flex;
                    align-items: center;

                    @include mobile-l {
                        justify-content: center;
                    }

                    &__img {
                        width: 114px;
                        height: 114px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 30px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &__content {
                        .name {
                            font-weight: 700;
                            font-size: 2.4rem;
                            line-height: 3rem;
                            letter-spacing: -2%;
                            color: $text-title-color;
                        }

                        .job {
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }

        &__technology {
            .technology-item {
                margin-top: 52px;
                margin-bottom: 74px;

                @include tablet {
                    margin: 20px 0;
                }

                &__img {
                    text-align: center;
                }
            }
        }

    }
}