<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        {{content}}
    </main>
    {% include footer.html %}
    {% include script.html %}
</body>

</html>