---
layout: default
---

<div class="page-banner">
    <div class="container">
        <div class="page-banner__inner">

            <!-- TEXT START -->
            <div class="page-banner__inner-text">
                <div class="page-text">

                    <!-- LINK START -->
                    <div class="page-text__link">
                        <a class="page-text__link__home" href="index.html">
                            Quickweb
                        </a>
                        <i class="fad fa-chevron-circle-right"></i>
                        <a class="page-text__link__home page-text__link__home--modifier" href="{{page.permalink}}">
                            {{page.page-link}}
                        </a>
                        {% if page.page-details != "no-details" %}
                        <i class="fad fa-chevron-circle-right"></i>
                        <a class="page-text__link__home page-text__link__home--modifier" href="{{page.permalink}}">
                            {{page.page-details}}
                        </a>
                        {% endif %}
                    </div>
                    <!-- LINK END -->


                    <!-- TITLE START -->
                    <div class="title">
                        <h2>
                            {{page.page-title}}
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- SLOGAN START -->
                    <div class="page-text__slogan">
                        <span>
                            {{page.page-slogan}}
                        </span>
                    </div>
                    <!-- SLOGAN END -->

                    <!-- BUTTON START -->
                    {% if page.page-button != 'no-button' %}
                    <div class="page-text__button">
                        <a class="btn btn-sm btn-warning btn-warning--black ">
                            Try Demo
                        </a>
                    </div>
                    {% endif %}
                    <!-- BUTTON END -->

                </div>
            </div>
            <!-- TEXT END -->

            {% if page.page-desc != 'details' %}

            <!-- IMG START -->
            <div class="page-banner__inner-img {{page.page-img-class}}">
                <img src="{{page.page-img}}" alt="">
            </div>
            <!-- IMG END -->

            {% else %}
            
            {% if page.page-details-class == "module" %}
            <div class="page-banner__inner__{{page.page-details-class}} ">
                <a class="btn btn-sm btn-warning">
                    Download for $12
                </a>
                <div class="inner__{{page.page-details-class}}">
                    <span>
                        Last update
                    </span>
            
                    <span>
                        20/11/2021
                    </span>
                </div>
            </div>
            {% endif %}
            
            {% if page.page-details-class == "template" %}
            <div class="page-banner__inner__{{page.page-details-class}}">
                <span class="inner__{{page.page-details-class}}__price">
                    <i class="far fa-dollar-sign"></i>25
                </span>
                <div class="inner__{{page.page-details-class}}__button">
                    <a class="btn btn-sm btn-light">
                        Preview Theme
                    </a>
                    <a class="btn btn-sm btn-warning">
                        Download templates
                    </a>
                </div>
                </div>
            {% endif %}
            
            
            {% endif %}
            </div>
            </div>
            </div>
            {{content}}