---
layout: page
---

<div class="template-details-body details ">
    <div class="container">

        <!-- NAV START -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            {% for item in site.data.template-details-nav %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {{item.status}}" id="{{item.id}}-tab" data-bs-toggle="tab"
                    data-bs-target="#{{item.id}}" type="button" role="tab" aria-controls="{{item.id}}"
                    aria-selected="true">{{item.text}}</button>
            </li>
            {% endfor %}
        </ul>
        <!-- NAV END -->


        <div class="row">
            <!-- CONTENT START -->
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                <div class="tab-content" id="myTabContent">

                    {% for item in site.data.template-details-nav %}
                    <div class="tab-pane fade {% if item.status == 'active' %} show active {% endif %} "
                        id="{{item.id}}" role="tabpanel" aria-labelledby="{{item.id}}-tab">

                        <div class="details__wraps">

                            <!-- IMG START -->
                            <div class="details__wraps__img">
                                <img src="assets/images/template/details.png" alt="template-img">
                            </div>
                            <!-- IMG END -->

                            <!-- FEATURE START -->
                            <div class="details__wraps__feature">
                                <div class="row">

                                    <!-- IMG START -->
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <div class="details__wraps__feature__inner feature-inner ">
                                            <!-- IMG START -->
                                            <div class="feature-inner__img">
                                                <img src="assets/images/template/feature1.png">
                                            </div>
                                            <!-- IMG END -->
                                        </div>
                                    </div>
                                    <!-- IMG END -->

                                    <!-- CONTENT START -->
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <div class="details__wraps__feature__inner feature-inner">

                                            <!-- CONTENT START -->
                                            <div class="feature-inner__content">

                                                <!-- TITLE START -->
                                                <div class="title title--left title--feature">
                                                    <div class="desc desc--feature">
                                                        <p>
                                                            Template feature
                                                        </p>
                                                    </div>
                                                    <h1>
                                                        Elegant Interface
                                                    </h1>
                                                </div>
                                                <!-- TITLE END -->

                                                <!-- PARAGRAPH START -->
                                                <div class="feature-inner__content__paragraph">
                                                    <p>
                                                        As a template for education, this theme has nicely designed
                                                        pages
                                                        suitable for your business
                                                    </p>
                                                </div>
                                                <!-- PARAGRAPH END -->
                                                <div class="feature-inner__content__list">
                                                    <ul>
                                                        {% for item in site.data.template-feature-list limit: 8 %}
                                                        <li>
                                                            <i class="fas fa-circle"></i>
                                                            <span>
                                                                {{item.text}}
                                                            </span>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>


                                            </div>
                                            <!-- CONTENT END -->

                                        </div>
                                    </div>
                                    <!-- CONTENT END -->

                                </div>
                            </div>
                            <!-- FEATURE END -->


                            <!-- FEATURE START -->
                            <div class="details__wraps__feature">
                                <div class="row">
                                    <!-- CONTENT START -->
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <div class="details__wraps__feature__inner feature-inner">

                                            <!-- CONTENT START -->
                                            <div class="feature-inner__content">

                                                <!-- TITLE START -->
                                                <div class="title title--left title--feature">
                                                    <div class="desc desc--feature">
                                                        <p>
                                                            Template feature
                                                        </p>
                                                    </div>
                                                    <h1>
                                                        Come with powerful admin
                                                    </h1>
                                                </div>
                                                <!-- TITLE END -->

                                                <!-- PARAGRAPH START -->
                                                <div class="feature-inner__content__paragraph">
                                                    <p>
                                                        Like any other of Quickweb templates, Smart Edu template works
                                                        well with our custom made back-end system, a few features
                                                        including
                                                    </p>
                                                </div>
                                                <!-- PARAGRAPH END -->

                                                <!-- LIST START -->
                                                <div class="feature-inner__content__list">
                                                    <ul>
                                                        {% for item in site.data.template-feature-list offset: 8 %}
                                                        <li>
                                                            <i class="fas fa-circle"></i>
                                                            <span>
                                                                {{item.text}}
                                                            </span>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <!-- LIST END -->


                                                <!-- BUTTON START -->
                                                <div class="feature-inner__content__button">
                                                    <a href="#" class="btn btn-sm btn-warning">
                                                        Learn more
                                                    </a>
                                                </div>
                                                <!-- BUTTON END -->

                                            </div>
                                            <!-- CONTENT END -->

                                        </div>
                                    </div>
                                    <!-- CONTENT END -->

                                    <!-- IMG START -->
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <div class="details__wraps__feature__inner feature-inner ">
                                            <!-- IMG START -->
                                            <div class="feature-inner__img feature-inner__img--large">
                                                <img src="assets/images/template/feature1.png">
                                            </div>
                                            <!-- IMG END -->
                                        </div>
                                    </div>
                                    <!-- IMG END -->


                                </div>
                            </div>
                            <!-- FEATURE END -->

                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- CONTENT END -->

            <!-- SIDEBAR START -->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class=" details__sidebar">
                    <div class="details__sidebar__inner sidebar-inner">
                        <!-- TITLE START -->
                        <div class="sidebar-inner__title">
                            <h2>
                                Template overview
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- LIST START -->
                        <div class="sidebar-inner__list">
                            <ul>
                                {% for item in site.data.feature-sidebar %}
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    <span>
                                        {{item.text}}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- LIST END -->

                        <!-- TABLE START -->
                        <div class="sidebar-inner__table table">
                            <table>
                                <tr>
                                    <td class="table__title">
                                        Category
                                    </td>
                                    <td class="table__content table__content--button">
                                        <a class="link link-sm link-warning">
                                            business
                                        </a>
                                        <a class="link link-sm link-warning">
                                            educa
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__title">
                                        Version
                                    </td>
                                    <td class="table__content">
                                        1.2.2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__title">
                                        Last update
                                    </td>
                                    <td class="table__content">
                                        20/11/2021
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- TABLE END -->

                        <!-- PRICE START -->
                        <div class="sidebar-inner__price price">

                            <!-- TITLE START -->
                            <div class="price__title">
                                <span>
                                    Price
                                </span>
                                <span class="price__number">
                                    <i class="far fa-dollar-sign"></i>25
                                </span>
                            </div>
                            <!-- TITLE END -->

                            <!-- BUTTON STAT -->
                            <div class="price__btn">
                                <button class="btn btn-sm btn-warning">
                                    Download now
                                </button>
                            </div>
                            <!-- BUTTON END -->

                        </div>
                        <!-- PRICE END -->

                    </div>
                </div>
            </div>
            <!-- SIDEBAR END -->

        </div>

    </div>
</div>